<div class="posts grid">
  <% @contents.each do |content| %>
    <div class="post grid-item">
      <p><%= content.id %></p>
      <h3><%= content.title %></h3>
      <img src=<%= content.thumbnail_url %> alt="Image">
      <% truncated_blurb = content.blurb.split(" ")[0..31].join(" ") %>
      <p><%= truncated_blurb %></p>
      <p>From: <%= content.author %></p>
      <p><%= content.details_url %></p>
    </div>
  <% end %>
</div>

<script id="entry-template" type="text/x-handlebars-template">
  <div class="post grid-item">
    <p>{{id}}</p>
    <h3>{{title}}</h3>
    <img src= {{thumbnail_url}} alt="Image">
    <p>{{blurb}}</p>
    <p>From: {{author}}</p>
    <p>{{details_url}}</p>
  </div>
</script>
