<div class="posts grid">
  <% @contents.each do |content| %>
    <div class="post grid-item">
      <p><%= content.id %></p>
      <p><%= content.title %></p>
      <p><%= content.blurb %></p>
      <p><%= content.author %></p>
      <img src=<%= content.thumbnail_url %> alt="Image">
      <p><%= content.details_url %></p>
    </div>
  <% end %>
</div>

<script id="entry-template" type="text/x-handlebars-template">
  <div class="post grid-item">
    <p>{{id}}</p>
    <p>{{title}}</p>
    <p>{{blurb}}</p>
    <p>{{author}}</p>
    <img src= {{thumbnail_url}} alt="Image">
    <p>{{details_url}}</p>
  </div>
</script>
